Notes/*
.DS_Store
chunity-tutorial/*
hw2/AudioVisualizer/Library/*
hw2/AudioVisualizer/Logs/*
hw2/AudioVisualizer/Packages/*
hw2/AudioVisualizer/ProjectSettings/*
hw2/AudioVisualizer/UserSettings/*
hw2/AudioVisualizer/Assets/Chunity/*
hw2/AudioVisualizer/Assets/Chunity.meta
hw2/AudioVisualizer/Assets/Materials/*
hw2/AudioVisualizer/Assets/Materials.meta
hw2/AudioVisualizer/Assets/Plugins/*
hw2/AudioVisualizer/Assets/Plugins.meta
hw2/AudioVisualizer/Assets/Prefabs/*
hw2/AudioVisualizer/Assets/Prefabs.meta
hw2/AudioVisualizer/Assets/Scenes/*
hw2/AudioVisualizer/Assets/Scenes.meta
hw2/AudioVisualizer/Assets/StreamingAssets/*
hw2/AudioVisualizer/Assets/StreamingAssets.meta
hw2/AudioVisualizer/Temp/*
hw2/AudioVisualizer/Builds/*
