Notes/*
.DS_Store
*.swp
chunity-tutorial/*
hw2/AudioVisualizer/Library/*
hw2/AudioVisualizer/Logs/*
hw2/AudioVisualizer/Packages/*
hw2/AudioVisualizer/ProjectSettings/*
hw2/AudioVisualizer/UserSettings/*
hw2/AudioVisualizer/Assets/Chunity/*
hw2/AudioVisualizer/Assets/Chunity.meta
hw2/AudioVisualizer/Assets/Materials/*
hw2/AudioVisualizer/Assets/Materials.meta
hw2/AudioVisualizer/Assets/Plugins/*
hw2/AudioVisualizer/Assets/Plugins.meta
hw2/AudioVisualizer/Assets/Prefabs/*
hw2/AudioVisualizer/Assets/Prefabs.meta
hw2/AudioVisualizer/Assets/Scenes/*
hw2/AudioVisualizer/Assets/Scenes.meta
hw2/AudioVisualizer/Assets/StreamingAssets/*
hw2/AudioVisualizer/Assets/StreamingAssets.meta
hw2/AudioVisualizer/Assets/Settings/*
hw2/AudioVisualizer/Assets/Settings.meta
hw2/AudioVisualizer/Assets/Presets/*
hw2/AudioVisualizer/Assets/Presets.meta
hw2/AudioVisualizer/Assets/Default/*
hw2/AudioVisualizer/Assets/Default.meta
hw2/AudioVisualizer/Assets/Readme.asset
hw2/AudioVisualizer/Assets/Readme.asset.meta
hw2/AudioVisualizer/Temp/*
hw2/AudioVisualizer/Builds/*
hw2/assets/milestone2.mov
hw2/assets/visualizer.zip
hw2/assets/final/*
hw3/AudioVisualSequencer/Library/*
hw3/AudioVisualSequencer/Logs/*
hw3/AudioVisualSequencer/Packages/*
hw3/AudioVisualSequencer/ProjectSettings/*
hw3/AudioVisualSequencer/UserSettings/*
hw3/AudioVisualSequencer/Assets/Chunity/*
hw3/AudioVisualSequencer/Assets/Chunity.meta
hw3/AudioVisualSequencer/Assets/Materials/*
hw3/AudioVisualSequencer/Assets/Materials.meta
hw3/AudioVisualSequencer/Assets/Meshtint\ Free\ Chicken\ Mega\ Toon\ Series/*
hw3/AudioVisualSequencer/Assets/Meshtint\ Free\ Chicken\ Mega\ Toon\ Series.meta
hw3/AudioVisualSequencer/Assets/Prefabs/*
hw3/AudioVisualSequencer/Assets/Prefabs.meta
hw3/AudioVisualSequencer/Assets/Scenes/*
hw3/AudioVisualSequencer/Assets/Scenes.meta
hw3/AudioVisualSequencer/Assets/Settings/*
hw3/AudioVisualSequencer/Assets/Settings.meta
hw3/AudioVisualSequencer/Assets/Presets/*
hw3/AudioVisualSequencer/Assets/Presets.meta
hw3/AudioVisualSequencer/Builds/*
hw3/AudioVisualSequencer/Temp/*
hw3/assets/milestone_2_example.mov
hw3/assets/final/*


final/Operation/Library/*
final/Operation/Temp/*
final/Operation/Logs/*
final/Operation/Packages/*
final/Operation/ProjectSettings/*
final/Operation/UserSettings/*
final/Operation/Assets/*
!/final/Operation/Assets/Scripts
!/final/Operation/Assets/Scripts.meta
final/Operation/Assets/HuMan/Assets/Textures/*
!/final/Operation/Assets/HuMan/Assets/Textures/*.png

